.tableC tbody > tr:nth-child(2n-1) {
  background-color: #FFF2E7;
}
.tableC tbody > tr > td[class~=ant-table-cell-row-hover] {
  background: inherit !important;
}
.tableC tbody > tr > td {
  border-right: 0.1px solid rgba(255, 146, 56, 0.2);
  padding-top:0rem ;
  padding-bottom:0rem ;
}
.tableC tbody > tr {
  height: 2.8rem;
  line-height: 1.4;
}
.tableC tbody > tr > td:last-child {
  border-right: none;
}
.tableC thead > tr > th {
  background-color: var(--bgColor);
  color: white;
  font-weight: 700;
  border-right: 0.1px solid rgba(255, 255, 255, 0.4);
}